[submodule "theme/pelican-simplegrey"]
	path = theme/pelican-simplegrey
	url = https://github.com/fle/pelican-simplegrey.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "theme/pelican-clean-blog"]
	path = theme/pelican-clean-blog
	url = https://github.com/gilsondev/pelican-clean-blog.git
[submodule "theme/Flex"]
	path = theme/Flex
	url = https://github.com/alexandrevicenzi/Flex.git
