[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "theme/pelican-elegant"]
	path = theme/pelican-elegant
	url = https://github.com/talha131/pelican-elegant.git
